@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Plaster", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  width: 100%;
  height: 100%;
}

html{
  scroll-behavior: smooth;
  scroll-padding:var(--scroll-padding , 0rem);
}


